/* Logistics */

html{
    min-height: 100%;
}

body{
    background: #878585;
    color: #ac399d;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    position: absolute;
}

/* Front Page */

.frontPage{
    position: relative;
    text-align: center;
    top: 25%;
}

.frontPage h1{
    font-size: 52px;
    font-family: 'Philosopher', fantasy, serif;
    margin: 0;
    padding: 0;
}

.frontPage .logoFrontPage{
    font-family: 'Courgette', times, serif;
    font-size: 75px;
    margin: 0;
    padding: 15px 0;
}

.frontPage p{
    color: #481aa7;
    display: inline-block;
    font-family: 'Raleway', times, serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.frontPage a, .frontPage a:visited, .frontPage a:active{
    color: #481aa7;
    text-decoration: none;
}

.frontPage a:hover{
    text-decoration: underline;
}

.logoFrontPage a, .logoFrontPage a:visited, .logoFrontPage a:active{
    color: #ac399d;
    text-decoration: none;
}

/* Header */
.header{
    background: #ac399d;
    border-bottom: 2px solid #555;
    display: inline-block;
    height: 55px;
    margin: 0;
    opacity: .95;
    padding: 0;
    position: absolute;
    width: 100%;
}

.headerLogo{
    background: #c7c6c9;
    border-radius: 6px;
    border: 1px solid #666;
    height: 45px;
    float: left;
    margin: 5px 4px;
    position: relative;
    width: 45px;
}

.headerLogo span{
    font-family: 'Playball', impact, times;
    font-size: 35px;
    padding: 0 7px;
    position: relative;
}

.headerSection{
    background: #c7c6c9;
    border-radius: 6px;
    border: 1px solid #666;
    color: #ac399d;
    display: inline-block;
    height: 45px;
    float: right;
    font-family: 'Lobster Two', serif;
    font-size: 20px;
    line-height: 42px;
    margin: 5px 8px;
    padding: 0 7px;
    position: relative;
}

#headerActive{
    background: #878585;
}

.headerSection a, .headerSection a:visited, .headerSection a:active{
    color: #ac399d;
    text-decoration: none;
}

.headerSection a:hover{
    text-decoration: underline;
}

/* General Page Formatting */
.pageGeneral{
    bottom: 50px;
    color: #ac399d;
    font-family: 'Raleway', impact, times, serif;
    margin: 0 15%;
    overflow-y: scroll;
    position: absolute;
    text-align: center;
    top: 100px;
}

.pageGeneral::-webkit-scrollbar{
    display: none;
}

.pageHeading{
    font-size: 45px;
    font-family: 'Courgette', impact, times, serif;
    text-decoration: underline;
}

.pageParagraph{
    font-size: 25px;
}

/* Form Formatting */

form{
    font-family: 'Roboto', times, serif;
    font-size: 17px;
}

form input{
    font-size: 14px;
    padding: 3px;
}

form button{
    color: #ac399d;
}



/* Footer */

.footer{
    background: #c7c6c9;
    bottom: 0;
    border-top: 1px solid #444;
    clear: both;
    color: #000;
    font-family: 'Philosopher', times, serif;
    font-size: 12px;
    height: auto;
    margin: 0 0;
    text-align: center;
    padding: 0 0;
    position: absolute;
    width: 100%;
}

.footerText{
    padding: 0;
}