<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>

        {% if title %}
            <title>Ping! - {{ title }}</title>
        {% else %}
            <title>Ping!</title>
        {% endif %}

        <!-- Viewport Options. Will add mobile stuff later -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
        
        <!-- Open Graph protocol. See: http://ogp.me/ -->
        <meta property="og:title" content="Ping!" />
        <meta property="og:site_name" content="Ping!" />  
        <meta property="og:type" content="website" />
        <meta property="og:url" content="/index" />
        <meta property="og:image" content="/static/img/virginie.jpg" />
        <meta property="og:description" content="Ping! is a revolutionary mobile advertising application using real-time push notifications based on geolocation." />
        
        <!-- General meta tags -->
        <meta name="keywords" content="Ping!, mobile advertisement, push notifications, geo-location, geofencing">
        <meta name="author" content="Andoni M. Garcia">

        <!-- Scripts -->
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Philosopher|Roboto|Raleway|Lobster+Two|Playball|Courgette' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/jquery.timepicker.css">
        <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <header class="header box">
            <div class="headerBorder">
                <h1 class="logo"><a href='index'>Ping!</a></h1>
            </div>
        </header>
        <div class="body box">
            <div class="nav box">
                <nav class="sideNav">
                    <ul class="sideNavList">
                        {% if g.company.is_authenticated() %}
                            <li><a href="index">Home</a></li>
                            <li><a href="logout">Logout</a></li>
                        {% else %}
                            <li><a href="login">Log In</a></li>
                            <li><a href="register">Register</a></li>
                        {% endif %}
                        <li><a href="about">About Ping!</a></li>
                        <li><a href="team">Meet The Crew</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content box">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="flashError">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Vendor Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>
        <script src="/static/js/jquery.timepicker.js"></script>
        <script src="/static/js/bootstrap-datepicker.js"></script>
        <script src="/static/js/datepair.js"></script>
        <script src="/static/js/jquery.datepair.js"></script>
        <!-- In-House Scripts -->
        <script src="/static/js/forms.js"></script>
        <script src="/static/js/team.js"></script>
        <script src="/static/js/map.js"></script>
        <script src="/static/js/company.js"></script>
    </body>
</html>