<!-- Extends Base Layout -->
{% extends "base.html" %}

{% block content %}

	<p>Welcome {{ g.company.name }}</p>
	<p>Your information:<br />
		<div>
			<addr>
				{{ g.company.name }}<br />
				{{ g.company.address1 }}<br />
				{% if g.company.address2 %}
					{{ g.company.address2 }}<br />
				{% endif %}
				{{ g.company.city }}, {{ g.company.state }} {{ g.company.zipcode }}<br />
				{{ g.company.phone }}<br />
				{{ g.company.email }}
			</addr>
			<form id="companyEdit" class="form" action="" method="POST" name="companyEdit">
				{{ form2.hidden_tag() }}
				<p>
	                {{ form2.addr1(type="text", id="regCompAddr1", class="formInput", placeholder="Address", required=True, **{"data-validation":"length", "data-validation-length":"5-100", "data-validation-error-msg":"Your Address Must Be Less Than 3 Characters Long!"}) }}
	            </p>
	            <p>
	                {{ form2.addr2(type="text", maxlength="100", id="regCompAddr2", class="formInput", placeholder="Addr. Cont. (Optional)", **{"data-validation":"length", "data-validation-length":"max100", "data-validation-error-msg":"Your Address Must Be Less Than 3 Characters Long!"}) }}
	            </p>
	            <p>
	                {{ form2.zipcode(type="text", maxlength="5", id="regCompZip", class="formInput", placeholder="Zipcode", required=True, **{"data-validation":"length", "data-validation-length":"5-5", "data-validation-error-msg":"Your Zipcode Must Be Exactly 5 Characters Long!"}) }}
	            </p>
	            <p>
	                {{ form2.city(type="text", id="regCompCity", class="formInput", placeholder="City", required=True, readonly=True) }}
	            </p>
	            <p>
	                {{ form2.state(type="text", id="regCompState", class="formInput", placeholder="State", required=True, readonly=True) }}
	            </p>
	            <p>
	                {{ form2.phone(type="tel", id="regCompPhone", class="formInput", placeholder="Phone Number", required=True, **{"data-validation":"length custom", "data-validation-length":"12-12", "data-validation-regexp":"(^[0-9]{3}-[0-9]{3}-[0-9]{4})$", "data-validation-error-msg":"Your Phone Number Must Be In The Form XXX-XXX-XXXX!", "data-validation-help":"Please Use Hyphen Seperation (e.g. 312-123-4567)"}) }}
	            </p>
	            <p>
	                {{ form2.email(type="email", id="regEmail", class="formInput", placeholder="Email Address", required=True, **{"data-validation":"email", "data-validation-error-msg":"Please Enter A Valid Email"}) }}
	            </p>
	            <p><input type="submit" class="formButton" value="Edit My Info!"></p>
			</form>
		</div>
		<div id="mapAddr" style="display:none;">
			{{ g.company.address1 }} {% if g.company.address2 %} {{ g.company.address2 }} {% endif %} {{ g.company.city }}, {{ g.company.state }} {{ g.company.zipcode }}
		</div>
		<div class="googleMap" id="googleMap" style="height:200px;width:200px;"></div>
	</p>
	<div>
		<form id="addPing" class="form" action="" method="POST" role="form" name="addPing">
    	{{ form.hidden_tag() }}
        <fieldset>
            <legend>Add A Ping!</legend>
            <p>
            	Message: {{ form.message(type="text", maxlength="150", id="pingMessage", class="formInput", placeholder="Your Ping!", required=True, **{"data-validation":"length", "data-validation-length":"max150", "data-validation-error-msg":"Your Pings Must Be Less Than 150 Characters!"}) }}
            </p>
            <p>
            	Start Time: {{ form.start(id="pingStart", class="formInput", required=True, **{"type":"datetime-local"}) }}
            </p>
            <p>
            	End Time: {{ form.end(id="pingEnd", class="formInput", required=True, **{"type":"datetime-local"}) }}
            </p>
            <p><input type="submit" class="formButton" value="Add A Ping!"></p>
        </fieldset>
	</div>
	<div>
		<strong>Pings:</strong>
		{% for ping in g.company.current_pings()[::-1] %}
			<p>{{ ping.message }} - from {{ ping.startTime }} to {{ ping.endTime }}</p>
		{% endfor %}
	</div>
	<div>
		<form action="/charge" method="POST">
		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="Flask Test Charge" data-amount="2000" data-name="Demo Site" data-description="2 widgets ($5.00)">
		  </script>
		</form>
	</div>
	<a href="logout">Log Out?</a>

{% endblock %}