<!-- Extends Base Layout -->
{% extends "base.html" %}

{% block content %}

    <form id="loginForm" class="form" action="" method="POST" role="form" name="login">
    	{{ form.hidden_tag() }}
        <fieldset>
            <legend>Welcome Back!</legend>
            <p>
            	{{ form.email(type="email", id="loginEmail", class="formInput", placeholder="Email Address", required=True, **{"data-validation":"email", "data-validation-error-msg":"Please Enter A Valid Email"}) }}
            </p>
            <p>
            	{{ form.password(type="password", id="loginPwd", class="formInput", placeholder="Password", required=True, **{"data-validation":"required", "data-validation-error-msg":"Please Enter A Valid Password"}) }}
            </p>
            <p>
            	{{ form.remember_me }} Remember Me
            </p>
            <p><input type="submit" class="formButton" value="Log In!" disabled></p>
        </fieldset>
    </form>

{% endblock %}