/* Andoni M. Garcia */

/* Nav Logo */

.navLogo{
    color: #ac399d;
    font-family: 'Courgette', times, serif;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

/* Formatting */
.panelPar{
    margin: 25px 4%;
}

/* Media Queries */
@media (min-width: 330px){
    .nav-tabs{
        font-size: 16px;
    }
    .panel-ping{
        font-size: 16px;
    }
    .panel-heading{
        font-size: 22px;
    }
}
@media (min-width: 372px){
    .navLogo{
        font-size: 44px;
    }
    .nav-tabs{
        font-size: 20px;
    }
    .panel-ping{
        font-size: 18px;
    }
    .panel-heading{
        font-size: 24px;
    }
}
@media (min-width: 475px){
    .navLogo{
        font-size: 48px;
    }
}
@media (min-width: 600px){
    .navLogo{
        font-size: 54px;
    }
}
@media (min-width: 775px){
    .navLogo{
        font-size: 58px;
    }
    .nav-tabs{
        font-size: 24px;
    }
    .panel-ping{
        font-size: 20px;
    }
    .panel-heading{
        font-size: 28px;
    }
    .form-control{
        width: 40%;
    }
    .btn{
        width: 30%;
    }
}