<!-- Extends Base Layout -->
{% extends "base.html" %}

{% block content %}

    <div class="mttPicBox box" id="andoni" data-content="Andoni Garcia">
        <img class="mttPic" src="/static/img/andoni.jpg" alt="Andoni Garcia" />
    </div>
    <div class="mttPicBox box" id="jason" data-content="Jason Bern">
        <img class="mttPic" src="/static/img/jason.jpg" alt="Jason Bern" />
    </div>
    <div class="mttPicBox box" id="toni" data-content="Toni Hall">
        <img class="mttPic" src="/static/img/toni.jpg" alt="Toni Hall" />
    </div>
    <div class="mttPicBox box" id="virginie" data-content="Virginie Caspard">
        <img class="mttPic" src="/static/img/virginie.jpg" alt="Virginie Caspard" />
    </div>

{% endblock %}