/* Ping!. 2015.
 * All rights reserved.
 */

html, body{
    min-height: 100%;
        height: 100%;
    min-width: 100%;
        width: 100%;
}
body{
    color: #ac399d;
    font-family: 'Philosopher', times, serif;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
    padding: 0;
}

/* General Formatting Class */

.box{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header.header{
    height: 70px;
    text-align: center;
    width: 100%;
}
.headerBorder{
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    width: 85%;
}
h1.logo{
    font-family: 'Courgette', times, serif;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 30px;
}
.logo a, .logo a:visited{
    color: #ac399d;
    text-decoration: none;
}
.logo a:hover, .logo a:active{
    color: #ac399d;
    text-decoration: underline;
}

/* Body */
div.body{
    margin: 0 auto;
    width: 90%;
}

/* Side Nav */

div.nav{
    font-family: 'Raleway', times, serif;
    font-size: 16px;
    float: left;
    width: 170px;
    position: fixed;
}
nav.sideNav{
    border-right: 1px solid #ddd;
    height: 135px;
    margin: 60px 0 0 0;
    text-align: right;
}
ul.sideNavList{
    list-style: none;
    padding-top: 13px;
}
.sideNavList li{
    padding: 2px 12px 2px 0;
}
.sideNavList a, .sideNavList a:visited{
    color: #ac399d;
    text-decoration: none;
}
.sideNavList a:active, .sideNavList a:hover{
    color: purple;
    text-decoration: underline;
}

/* Main Content */
div.content{
    float: left;
    margin: 30px 0 0 200px;
    padding-bottom: 25px;
    width: 65%;
}
@media(min-width: 1100px){
    div.content{
        width: 75%;
    }
}
strong{
    color: purple;
    font-size: 18px;
    font-weight: bold;
}
.lilLogo{
    font-family: 'Courgette', times, serif;
}

/* Meet the Team Page */

div.mttPicBox{
    display: inline-block;
    margin: 4px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 45%;
}
img.mttPic{
    border: 1px solid #ddd;
    border-radius: 7%;
    width: 100%;
}
.mttPicBox:before, .mttPicBox:after{
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 500ms;
       -moz-transition: opacity 500ms;
         -o-transition: opacity 500ms;
            transition: opacity 500ms;
}
.mttPicBox:before{
    bottom: 40%;
    color: purple;
    content: attr(data-content);
    font-family: 'Raleway', times, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.mttPicBox:after{
    background: rgba(0,0,0,0.7);
    border-radius: 7%;
    content:'\A';
    height: 96%;
    left: 0;
    top: 0;
    width: 100%;
}
@media(min-width: 620px){
    .mttPicBox:before{
        font-size: 18px;
    }
    .mttPicBox:after{
        height: 97%;
    }
}
@media(min-width: 940px){
    .mttPicBox:before{
        font-size: 28px;
    }
    .mttPicBox:after{
        height: 98%;
    }
}
.mttPicBox:hover:before, .mttPicBox:hover:after{
    opacity: 1;
}
.mmtIPic{
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 0 38%;
    width: 25%;
}
.mmtIPar{
    font-size: 16px;
    padding: 0 8%;
    text-align: center;
}
.mmtIPar a, .mmtIPar a:visited{
    color: #ac399d;
    text-decoration: none;
}
.mmtIPar a:hover, .mmtIPar:active{
    text-decoration: underline;
}
.mmtIBack{
    font-family: 'Lobster Two', times, serif;
    font-size: 23px;
    text-align: center;
}
.mmtIBack > span{
    padding-left: 5px;
}
.mmtIBack:hover span{
    cursor: pointer;
    padding-left: 8px;
    text-decoration: underline;
}

/* Login Page/Forms */

form.form{
    margin: 15px auto 0 auto;
    text-align: center;
    width: 80%;
}
.form fieldset{
    border-color: #ac399d;
    color: #ac399d;
}
.form legend{
    font-size: 24px;
    margin-bottom: 10px;
}
.form .formInput{
    border: 1px solid #aaa;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    display: block;
    color: #ac399d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 10px auto;
    padding: 4px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 150px;
}
.formInput:focus {
  border-color: #aaa;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 5px #ac399d;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 0 5px #ac399d;
}
.formInput:read-only{
    background: #dedede;
}
.formInput[readonly]:focus{
    border-color: #aaa;
    -webkit-box-shadow: none;
          box-shadow: none;
}

input.error {
    background: #ff9e9e;
}

input.valid {
    background: #b3ffa0;
}

span.form-error {
    color: #f14142;
    font-family: 'Roboto', times, serif;
    font-size: 13px;
}
span.help {
    font-size: 13px;
    font-family: 'Roboto', times, serif;
}

.formButton{
    background: linear-gradient(#ddd, #fff, #ddd);
    border-radius: 3px;
    border: 1px solid #777;
    -webkit-box-shadow: inset 1px -1px 2px rgba(0, 0, 0, .1);
            box-shadow: inset 1px -1px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-family: 'Philosopher', times, serif;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px 12px;
}
.formButton:hover, .formButton:focus{
    outline: 0;
    border-color: #ac399d;
}
.formButton:disabled{
    border-color: #777;
    cursor: default;
}

.formButton:active{
    outline: 0;
    -webkit-box-shadow: inset 0 0px 5px #ac399d;
            box-shadow: inset 0 0px 5px #ac399d;
}
#registerForm .formInput{
    width: 200px;
}
@media(min-width: 875px){
    #registerForm .formInput{
        width: 250px;
    }
}

/* Tabs */
.headingTabs{
    font-family: 'Lobster Two', times, serif;
    height: 50px;
    width: 100%;
}
.headingTabs ul{
    border-bottom: 1px solid #ac399d;
    display: inline-block;
    margin: 0;
    padding: 0 auto;
    text-align: center;
    width: 100%;
}
.headingTabs ul li{
    background: #eee;
    border: 1px solid #aaa;
    border-bottom-color: #eee;
    border-radius: 5px 5px 0 0;
    display: inline-block;
    list-style: none;
    margin: 0 5px;
    padding: 3px 0;
    text-align: center;
    width: 125px;
}
.headingTabs ul li.active{
    background: white;
    border-color: #ac399d;
    border-bottom: 2px solid white;
    margin-bottom: -1px;
}
.headingTabs ul li:hover{
    border-color: #ac399d;
    border-bottom-color: #eee;
    cursor: pointer;
}
.headingTabs ul li.active:hover{
    border-color: #ac399d;
    border-bottom: 2px solid white;
    cursor: default;
}
.headingTabs a, .headingTabs a:visited, .headingTabs a:hover, .headingTabs a:active{
    color: #ac399d;
    cursor: inherit;
    text-decoration: none;
}

/* Company Page */
.innerContent{
    margin: 0 auto;
    width: 90%;
}
.compContent{
    display: none;
    width: 100%;
}
#profile{
    display: inline-block;
}
.compContent h2{
    font-family: 'Lobster Two', times, serif;
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
    text-decoration: underline;
}

/* Profile Tab */

#profile .profileImg{
    display: block;
    float: left;
    text-align: center;
    padding: 0 auto;
    width: 33.3%;
}
.profileImg img{
    width: 100%;
}
#profile .profileAddr{
    display: block;
    float: left;
    text-align: center;
    padding: 0 auto;
    width: 33.3%;
}
.profileAddr address{
    font-style: normal;
}
.profileAddr span.name{
    font-size: 22px;
    font-weight: bold;
    line-height: 45px;
}
.profileAddr span.rest{
    font-size: 16px;
}
#profile .googleMap{
    border: 1px solid #aaa;
    border-radius: 3px;
    display: block;
    float: left;
    padding: 0 auto;
    min-height: 200px;
        height: 100%;
    width: 33.3%;
}

#profile .companyEditInfo{
    display: none;
}
#profile .companyEditLogo{
    display: none;
}
#profile #mapAddr{
    display: none;
}

/* Pings Tab */

#pings .addPings{
    background: #eee;
    border: 1px solid #ac399d;
    border-radius: 6px;
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
}
#pings .addPings h3{
    text-align: center;
}
#pings .addPings form{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.addPings form .pingsLeft{
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}
.addPings form .pingsLeft textarea{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 9% 5px 0 40px;
    padding: 6px 5px;
    width: 100%;
}
.addPings form .pingsRight{
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}
.addPings form .pingsRight .formInput{
    min-width: 200px;
}
.showPings{
    width: 90%
}
.showPings span{
    font-family: 'Lobster Two', serif;
    font-size: 24px;
    font-weight: bold;
}
.showPings p{
    font-size: 18px;
    text-align: center;
}

/* Payments Tab */
#payments{
    text-align: center;
}

/* Overlay/Popups */

.overlay{
    background: rgba(0,0,0,0.8);
    height: 100%;
    left: 0;   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.overlay .overlaySolid{
    background: white;
    border: 2px solid #888;
    border-radius: 6px;
    left: 33%;
    padding: 0 0 15px 0;
    position: fixed;
    top: 15%;
    width: 33%;
    z-index: 101;
}
.overlaySolid h3{
    text-align: center;
    text-decoration: underline;
}
.overlaySolid .formInput{
    width: 180px;
}
.overlayClose{
    color: black;
    position: relative;
    top: 10px;
    left: 92%;
    margin: 5px 5px 0 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.companyEditLogo .overlaySolid img{
    border: 1px solid #ddd;
    margin: 20px;
    float: left;
    height: auto;
    width: 33%;
}
.companyEditLogo .overlaySolid form{
    display: block;
    float: left;
    width: 45%;
    padding-left: 5px;
    text-align: center;
}
.companyEditLogo .overlaySolid form input[type="file"]{
    width: 100%;
}

/* Flash Messages */
.flashError{
    background: #ff9e9e;
    color: black;
    font-family: 'Roboto', times, serif;
    font-size: 16px;
    margin: 10px auto 15px auto;
    padding: 10px;
    text-align: center;
    width: 80%;
}